{% comment %} 

extend on every HTML page to have header and footer added

- fill this with header <> and footer <>
- CSS stuff link here too
- use blocks to allocate rest of page, then on other HTML pages, put all content into block 
- also extend this base html file on other HTML files
- credit to michael lin, a fellow student -- he explained best organizational practices
{% endcomment %}

<!-- 
References:
https://getbootstrap.com/docs/5.0/components/navbar/ 
https://stackoverflow.com/questions/30810028/how-to-display-image-from-google-account-django-allauth 
-->

<html>
    {% load socialaccount %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">CavCourses</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'list' %}">Departments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'advanced_search' %}">Advanced Search</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'schedule' %}">Schedule Builder</a>
                  </li>
                  {% endif %}
                </ul>

                {% if user.is_authenticated %}
                  <a href="/classlist/my_account/" style="color:inherit"> 
                    <button class="btn me-2 btn-primary" type="button" role="button"> My Account </button>
                  </a>
                  <a href="/classlist/accounts/logout" style="color:inherit">
                    <button class="btn me-2 btn-primary" type="button" role="button">
                       Logout </button>
                    </a>
                  <img src="{{user.avatar}}" class="rounded-circle" height="30" width="30">
                  
                {% else %}
                  
                  <a href="/classlist/accounts/google/login/?process=login" style="color:inherit">
                    <button class="btn me-2 btn-primary" type="" color="#fff" role="button"> Login </button>
                  </a>
                {% endif %}
              </div>
            </div>
        </nav>
            
    </header>

    {% block body %}
    {% endblock%}


    <body style="background-color: cornflowerblue"></body>


    <footer class="bg-dark text-center text-white mt-5">
        <!-- Grid container -->
        <div class="container p-4 me-auto">
    
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
            Team A-27 | University of Virginia | CS 3240 | Fall 2022
            </p>
        </section>
        <!-- Section: Text -->
    
    
        </div>
        <!-- Grid container -->
    
    </footer>


    {% comment %} <footer>
      <div class="container-fluid fixed-bottom bg-dark text-light mt-5 pt-5">
          <div class="container text-center py-3">
              <p style="font-size:14px">Made by Team A-27</p>
              <p style="font-size:14px">Fall 2022 CS 3240</p>
          </div>
      </div>
    </footer> {% endcomment %}

</html>

